.main {
  background: var(--whiteColor);
  box-shadow: var(--boxShadow);
  border-radius: 10px;
  width: 60%;
  padding: 40px;
  font-size: 13px;
  font-weight: 500;
}

.main h1 {
  margin-bottom: 25px;
}
